body,html {
  margin: 0;
  font-family: raleway;
  height: 100%;
  color: #333;
}

/*header*/

.header {
  color: #FFF;
  background: #27ae60;
  padding: 20px;
}


.header h1{
  margin: 0;
  font-family: segoe script;
  font-weight: bold;
  font-size:30px;
}

.header p{
  margin: 0;
  font-family: segoe script;
}

.header-login h1{
  font-family: arial;
  margin-bottom: 30px;
}

.header-2{
  background: url("../img/sawah2.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 0px;

}

.header-2 h1{
  margin: 0;
  text-shadow: 2px 2px #333;
}

.header-2 h3{
  text-shadow: 2px 2px #333;
  letter-spacing: 2px;
  padding-top: 20px;
}

/*iklan style*/

.ads{
  padding: 20px;
  background: #333;
  margin: 20px auto;
  color: #fff;
  text-align: center;
}

.ads:hover{
  background: #4CAF50;
  transition: 0.4s;
}

/*navbar*/

.navbar {
  overflow: hidden;
  background-color: #27ae60;
  z-index: 5;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #2ecc71;
  color: #fff;
  transition: 0.5s;
}

.navbar a.active {
  background-color: #2ecc71;
  color: white;
}

.navbar .icon {
    display: none;
}

#brand{
  font-weight: bold;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*kategori*/
.kategori{
    width: 900px;
    margin: 50px auto;
    text-align: center;
}

.kategori a{
    display: inline-table;
    margin: 7px;
}

@media screen and (max-width: 600px) {
    .kategori{width: 360px;}
}

/*konten area*/

.content {
  padding: 20px;
  text-align: justify;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 50px;
}

.content h2{
  text-align: center;
}

/*konten tentang*/

.content-2{
  width: 100%;
  background-color: #333;
  padding: 20px;
  color: #fff;
  background-image: url("../img/sw.jpg");
  background-size: cover;
  background-position: center;
}

/*search*/

.example{
  padding: 30px;
  background: #2ecc71;
}

.example input[type=text] {
    padding: 20px;
    font-size: 17px;
    border: none;
    float: left;
    width: 90%;
    background: #f1f1f1;
    border-radius: 2px;

}

.example button {
    float: right;
    width: 9%;
    padding: 20px;
    background: #27ae60;
    color: white;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
    border-radius: 2px;
}

.example button:hover {
    background: #24d770;
    transition: 0.5s;
}

.example::after {
    content: "";
    clear: both;
    display: table;
}



/*view data lahan*/

div.img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 15px;
    float: left;
    width: 33.33%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix-bottom{
  margin-bottom: 100px
}

hr{
  border:2px solid #95a5a6;
}

.view-data{
  margin: 50px 0px;
}

/*tambah data lahan*/
.formAdd{
  padding: 40px;
}

#regForm {
  /*background-color: #2ecc71;*/
  margin: 10px auto;
  width: 100%;
  min-width: 300px;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
  /*color: #fff;*/
}


#regForm h1 {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 2px solid #333;
}

#regForm input, #regForm textarea {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  resize: vertical;
}

#regForm select{
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  background: #fff;
}

#regForm input[type=submit]{
  color: #fff;
}


/* Mark input boxes that gets an error on validation: */
#regForm input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
/*.tab {
  display: none;
}
*/

#regForm button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  margin-top: 20px;
}

#regForm button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #333;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #000;
}

/*checkbox*/

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    margin-right: 20px;
}

/* Hide the browser's default checkbox */
.checkbox input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #2ecc71;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*radio button*/

.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
    margin-right: 20px;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
    background-color: #2ecc71;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*data akun dan lahan*/

.container-akun {
  background-color: #eee;
  padding: 16px;
  margin: 16px 0;
  border-left:10px solid #2ecc71;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.container-akun::after {
  content: "";
  clear: both;
  display: table;
}

.container-akun img {
  float: left;
  margin-right: 20px;
  border-radius: 100%;
}

.container-akun span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container-akun {
      text-align: center;
  }
  .container-akun img {
      margin: auto;
      float: none;
      display: block;
  }
}

/*data lahan dan akun*/

.container-data{
  background: #eee;
  float: none;
  width: 100%;
  padding: 20px;
  border-left:10px solid #2ecc71;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.container-data h1{
  border-bottom: 2px solid #333;
  padding-bottom: 20px;
  text-align: center;
}

.container-data .caption{
  width: 100%;
  padding: 20px;
  margin: auto;

}

.container-images{
  width: 100%;
  height: 400px;
  text-align: center;
  background: #333;
}

.container-images img{
  max-width: 100%;
  max-height: 100%;
}

.container-data img{
  width: 100%;
}

.container-data img:hover{  
  transition: 0.5s;
}

.container-data .images-data{
  margin-bottom: 50px;
  width:100%;
  background: #eee;
}

.container-gambar img {
  vertical-align: middle;
}


/* Position the image container (needed to position the left and right arrows) */
.container-gambar {
  position: relative;
  width:70%;
  margin:auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 33.33%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*table area*/

table {
    width: 100%;
    text-align: center;
}

th, td {
    padding: 10px;
}

.aksi{
  min-width: 200px;
}

table .btn{
  padding: 10px;
}

.akun-table{
  border:2px solid #333;
}

.akun-table th{
  background: #2ecc71;
}

.akun-table th,.akun-table td{
  border:2px solid #333; 
}

/*modal*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 20px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}



/*foto profil*/

.form img{
  margin-bottom: 50px;
}


/*button area*/
a{
  text-decoration: none;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.statsChange{
  background: #2ecc71;
}

.statsChange2 {background-color: #f44336;}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}

/*label area*/

.label {
    color: white;
    padding: 8px;
    font-family: Arial;
}
.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */


/*upload foto*/

/*button upload foto*/
/*

.upload-data-foto {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 20px;
}

.upload-data-foto input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
*/
/*pagination*/
.pagination {
    display: inline-block;
    margin: 50px auto;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*hide spinner number*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-tambah input:focus{
    outline-color: #4CAF50;
}


/*Login*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
    width: 100%;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: none;
    max-width: 60%;
    margin: -100px auto 100px;
    padding: 45px;

}

.form h1{
  text-align: center;
}

@media screen and (max-width: 600px) {
  .form{
    margin-top: -50px;
  }
}

.form .error {
    color: #FFFFFF;
    background: #ef3b3a;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}

.form .success {
    color: #FFFFFF;
    background: #30A2A0;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
}
.form input,.form select,.form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: none;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    resize: vertical;
}

.form textarea{
  height: 200px;
}


.form button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    font-weight: 900;
}
.form button:hover, .form button:active, .form button:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

.form p{
  text-align: center;
}

/*minimal char 8 area*/

#message {
    display:none;
    color: #000;
    position: relative;

}

#message p {
    font-size: 10pt;
    transition: 0.4s;
    text-align: center;
    margin-top: -5px;
}


/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

/*sticky*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;

}

/*Footer*/
.footer{
  bottom: 0;
  overflow: hidden;
  background: #333;
  padding: 20px 30px;
  color: #fff;
  font-weight: bold;
  box-shadow: 4px 0px 0px 0px rgba(0, 0, 0, 0.2), 20px 0px 0px 0px rgba(0, 0, 0, 0.19);
}

.footer ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom: 2px solid #fff;
}

.footer li {
    float: left;
}

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-right:16px;
    text-decoration: none;
}

.footer li a:hover{
  color: #95a5a6;
  transition: 0.5s;
}

/*why choose gubuktani.com*/

.Whycolumn {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media (max-width: 650px) {
  .Whycolumn {
    width: 100%;
    display: block;
  }
}

.Whycard {
  padding: 20px;
}

.Whycontainer {
  padding: 0 16px;
}

.Whyrow{
  margin-top: 40px;
}

.WhyText::after, .Whyrow::after {
  content: "";
  clear: both;
  display: table;
}

.Whytitle {
  color: grey;
}

.Whybutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.Whybutton:hover {
  background-color: #555;
}
