body,html {
  margin: 0;
  font-family: raleway;
  height: 100%;
  color: #333;
}

.header{
  background: url("../img/sawah3.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 100px 0px;

}

.header h1{
  margin: 0;
  padding-top: 50px;
  text-shadow: 2px 2px #333;
}

.header h3{
  text-shadow: 2px 2px #333;
  letter-spacing: 2px;
  padding-top: 20px;
}

/*navbar*/

.topnav {
  overflow: hidden;
  background-color: #27ae60;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}

.topnav a:hover {
  background-color: #2ecc71;
}

.topnav a.active {
  background-color: #2ecc71;
}

.topnav .search-container {
 float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 14px;
  margin-right: 5px;
  font-size: 17px;
  border: none;
  background: #fff;
  color: #333;
}

.topnav input[type=text]:focus {
  outline: none;
}

.topnav input[type=text]::-webkit-input-placeholder{
  color: #333;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 14px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #2196F3;
}

.topnav .search-container button:hover {
  background: #0b7dda;
  color: #fff;
  transition: 0.5s; 
}

.dropdown {
  float: right;
  overflow: hidden;

}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #2ecc71;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #27ae60;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #fff;
  padding: 20px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #2ecc71;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*kategori*/
.kategori{
    width: 900px;
    margin: 50px auto;
    text-align: center;

}

.kategori a{
    display: inline-table;
    margin: 7px;

}

@media screen and (max-width: 600px) {
    .kategori{width: 360px;}
}

/*konten area*/

.content {
  padding: 20px;
  text-align: justify;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 50px;
}

.content h2{
  text-align: center;
}

/*konten tentang*/

.content-2{
  width: 100%;
  background-color: #333;
  padding: 20px;
  color: #fff;
  background-image: url("../img/sw.jpg");
  background-size: cover;
  background-position: center;
}


/*view data lahan*/

div.img {
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
  background: #f2f2f2;
}

div.img img {
    width: 100%;
    height: 100;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 15px;
    float: left;
    width: 33.33%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix-bottom{
  margin-bottom: 100px
}

hr{
  border:2px solid #95a5a6;
}

.view-data{
  margin: 50px 0px;
}

/*tambah data lahan*/
.formAdd{
  padding: 40px;
}

#regForm {
  /*background-color: #2ecc71;*/
  margin: 20px auto;
  width: 100%;
  min-width: 300px;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
  /*color: #fff;*/
}


#regForm h1 {
  text-align: center;
  padding-bottom: 50px;
  border-bottom: 2px solid #333;
}

#regForm input, #regForm textarea {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  resize: vertical;
}

#regForm select{
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  background: #fff;
}

#regForm input[type=submit]{
  color: #fff;
}


/* Mark input boxes that gets an error on validation: */
#regForm input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
/*.tab {
  display: none;
}
*/

#regForm button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  margin-top: 20px;
}



/*data akun dan lahan*/

.container-akun {
  background-color: #eee;
  padding: 16px;
  margin: 16px 0;
  border-left:10px solid #2ecc71;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.container-akun::after {
  content: "";
  clear: both;
  display: table;
}

.container-akun img {
  float: left;
  margin-right: 20px;
  border-radius: 100%;
}

.container-akun span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container-akun {
      text-align: center;
  }
  .container-akun img {
      margin: auto;
      float: none;
      display: block;
  }
}

/*data lahan dan akun*/

.container-data{
  background: #eee;
  float: none;
  width: 100%;
  padding: 20px;
  border-left:10px solid #2ecc71;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.container-data h1{
  border-bottom: 2px solid #333;
  padding-bottom: 20px;
  text-align: center;
}

.container-data .caption{
  width: 100%;
  padding: 20px;
  margin: auto;

}

.container-images{
  width: 100%;
  height: 450px;
  text-align: center;
  background: #333;
}

.container-images img{
  max-width: 100%;
  max-height: 100%;
}

.container-data img{
  width: 100%;
}

.container-data img:hover{  
  transition: 0.5s;
}

.container-data .images-data{
  margin-bottom: 50px;
  width:100%;
  background: #eee;
}

.container-gambar img {
  vertical-align: middle;
}


/* Position the image container (needed to position the left and right arrows) */
.container-gambar {
  position: relative;
  width:70%;
  margin:auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 33.33%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*table area*/

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border:none;

}

th, td {
    padding: 10px;
}

.aksi{
  min-width: 200px;
}

table .btn{
  padding: 10px;
}

.tbakun{
  width: 83%;
  float: right;
  text-align: left;
}

.tbakunhead{
  width: 17%;
}

.akun-table{
   border-left: 10px solid #2ecc71;
   background: #eee;

}

.akun-table th{
  background-color: #333;
  color:#fff;
  padding: 20px;
}

.akun-table td{
  padding: 20px;
}

/*modal*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 20px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}



/*foto profil*/

.form img{
  margin-bottom: 50px;
}


/*button area*/
a{
  text-decoration: none;
}

a.sosmedLink{
  color: #333;
}

a.sosmedLink:hover{
  color: #aaa;
  transition: 0.5s;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.statsChange{
  background: #2ecc71;
}

.statsChange2 {background-color: #f44336;}

.success {background-color: #4CAF50;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}

/*pagination*/
.pagination {
    display: inline-block;
    margin: 50px auto;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/*hide spinner number*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-tambah input:focus{
    outline-color: #4CAF50;
}


/*Login*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.login-page {
    width: 100%;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 0;
    background: none;
    max-width: 60%;
    margin: -100px auto 100px;
    padding: 45px;

}

.form h1{
  text-align: center;
}

@media screen and (max-width: 600px) {
  .form{
    margin-top: -50px;
  }
}

.form .error {
    color: #FFFFFF;
    background: #ef3b3a;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #333;
}

.form .success {
    color: #FFFFFF;
    background: #30A2A0;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
}
.form input,.form select,.form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: none;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    resize: vertical;

}

.form textarea{
  height: 200px;
}


.form button {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    font-weight: 900;
}
.form button:hover, .form button:active, .form button:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}

.form p{
  text-align: center;
}

/*minimal char 8 area*/

#message {
    display:none;
    color: #000;
    position: relative;

}

#message p {
    font-size: 10pt;
    transition: 0.4s;
    text-align: center;
    margin-top: -5px;
}


/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

/*sticky*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;

}

/*Footer*/
.footer{
  bottom: 0;
  overflow: hidden;
  background: #27ae60;
  padding: 20px 30px;
  color: #fff;
  font-weight: bold;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border-bottom: 2px solid #fff;
}

.footer li {
    float: left;
}

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-right:16px;
    text-decoration: none;
}

.footer li a:hover{
  color: #95a5a6;
  transition: 0.5s;
}

/*why choose gubuktani.com*/

.Whycolumn {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media (max-width: 650px) {
  .Whycolumn {
    width: 100%;
    display: block;
  }
}

.Whycard {
  padding: 20px;
}

.Whycontainer {
  padding: 0 16px;
}

.Whyrow{
  margin-top: 40px;
}

.WhyText::after, .Whyrow::after {
  content: "";
  clear: both;
  display: table;
}

.Whytitle {
  color: grey;
}

.Whybutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.Whybutton:hover {
  background-color: #555;
}
